.section__hobbies-targets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__hobbies-targets div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  margin: 10px 20px;
}

.section__hobbies-targets div i {
  font-size: 30px;
}

.section__aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__aboutMe-box {
  width: 90%;
}

.section__aboutMe-box {
  letter-spacing: 2px;
}

.profile-pic {
  float: right;
  border-radius: 100%;
  margin-left: 10px;
  width: 25%;
  height: 25%;
}

.section__education-targets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section__education-targets div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  width: 70%;
  margin: 10px 20px;
  gap: 5px;
}

.section__education-targets picture {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
}

.section__education-targets img {
  width: 100%;
  height: 100%;
}

.section__education-targets span {
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
}

.section__contact {
  align-items: center;
}

.section__contact p {
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
}

.section__contact-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  }

.section__contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between    ;
  gap: 10px;
  width: 100%;
  height: auto;
}

.section__contact input {
  border-radius: 10px;
  height: 30px;
}

.section__contact textarea {
  border-radius: 10px;
  height: 200px;
  max-width: 100%;
  font-size: 14px;
  overflow-y: auto;
  resize: none;
}

.section__contact form button {
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  align-self: end;
  border: 1px solid;
}

.section__contact form button:hover {
  background-color: rgb(205, 203, 203);
  font-weight: bold;
}

.section__contact-box figure {
  display: none;
}


@media (min-width: 768px) {
  .section__hobbies-targets div:hover {
    background-color: rgba(18, 80, 68, 0.5);
  }
  .section__hobbies-targets div i:hover {
    font-size: 40px;
  }

  .section__aboutMe-box {
    width: 85%;
  }

  .section__education-targets {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section__education-targets div {
    width: 25%;
    margin: 5px 10px;
  }

  .section__education-targets figure {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .section__contact form {
    width: 80%;
  }
}

@media (min-width: 1024px) {

  .profile-pic {
    width: 20%;
    height: 20%;
  }
  .section__contact p {
    margin-bottom: 20px;
  }

  .section__contact-box {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100%;
  }

  .section__contact-box figure {
    display: inline;
    width: 45%;
  }

  .section__contact-box img {
    width: 100%;
  }

  .section__contact form {
    width: 45%;
  }
}

@media (min-width: 1440px) {
  .section__contact input {
    height: 50px;
  }

  .section__contact textarea {
    height: 300px;
  }
}
