* {
  box-sizing: border-box;
  margin: 0px;
  padding: auto;
  list-style: none;
  text-decoration: none;
}

main {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  gap: 20px;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: rgba(126, 148, 156, 0.2);
}

section h2 {
  text-align: center;
}

a {
  color: aliceblue;
}

label {
  display: none;
}

@media (min-width: 320px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
